<html>
  <link href='styles.css' rel='stylesheet'>
<head>
  <title>Mikes Treasure</title>
  <link rel="icon" type="image/x-icon" href="https://cdn.pixabay.com/photo/2022/05/08/08/49/treasure-map-7181572_1280.jpg">
</head>
<body>
  <nav>
    <a href="https://www.google.com/search?q=treasure%20map&tbm=isch&tbs=il:cl&hl=en&sa=X&ved=0CAAQ1vwEahcKEwiAlMnHrfv_AhUAAAAAHQAAAAAQBA&biw=1261&bih=1272#imgrc=g6CcblZ_tsH-cM" target="_blank">Treasure Hunt Maps</a>
    <br>
    <a href="https://en.wikipedia.org/wiki/Treasure_hunt" target="_blank">About Treasure Hunts</a>
  </nav>
  <header>
    <h1 id="top" class="title-page">Mikes Treasure Hunt Game</h1>
  </header>
  <nav>
    <div id="click">
    <ul>
      <li><a href="#intructions"><button>Instructions</button></a></li>
      <li><a href="#rules"><button>Rules</button></a></li>
      <li><a href="#clues"><button>Clues</button></a></li>
    </ul>
  </div>
  <main>
  <div>
  <center>
    <img border="10" id="myimage" src="https://p0.pxfuel.com/preview/135/991/792/chest-treasure-pirate-money.jpg" alt="Treasure Map" height="400" width="620" center>
  </center>
  </div>
    <h2 id="intructions">Instructions:</h2>
        <p>Use the moving gameboard with 8 doors to play the game.</p>

    <h3 id="rules">Rules:</h3>
  <ul>
    <li>Click on the doors to find the treasure.</li>
    <li>You only get 4 chances. There is a counter for you so you can keep track of the doors youve opened and the doors you have remaining.</li>
    <li>Pay attention to the alert window on this page and follow the instructions as they appear.</li>
    <li><strong>Find the treasure!</strong></li>
  </ul>
  <h3 id="clues">Clues:</h3>
  <ol>
    <li>There are tree emojis, which mean you are still safe to proceed to the next door.</li>
    <li>There are bomb emojis, which is game over and you will need to restart the game.</li>
    <li>There is a rainbow emoji, which means you win.</li>
    <li><strong>SIDE NOTE:</strong> Once a door is opened the shape of the square changes. Becareful these doors are shaking rather fast!</li>
  </ol>
  
  <table border="4" style="height: 100px; width: 100px;">
    <tr>
      <td>Doors Opened</td>
      <td>Doors Remaining</td>
    </tr>
    <tr>
      <td id="counter"></td>
      <td id="countRemain"></td>
    </tr> 
  </table>
  <button id="restart" type="button" onclick="location.reload()">Restart Game</button>
  <br>
  <br>
  <table border="1" id="gameboard">
    <tr>
      <td id="1" onclick="treasure(1)"  ><img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/7820919/door-clipart-md.png" style="height: 150px; width: 150px;"></td>
      <td id="2" onclick="treasure(2)"><img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/7820919/door-clipart-md.png" style="height: 150px; width: 150px;"></td>
      <td id="3" onclick="treasure(3)"><img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/7820919/door-clipart-md.png" style="height: 150px; width: 150px;"></td>
      <td id="4" onclick="treasure(4)"><img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/7820919/door-clipart-md.png" style="height: 150px; width: 150px;"></td>
      <td id="5" onclick="treasure(5)"><img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/7820919/door-clipart-md.png" style="height: 150px; width: 150px;"></td>
      <td id="6" onclick="treasure(6)"><img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/7820919/door-clipart-md.png" style="height: 150px; width: 150px;"></td>
      <td id="7" onclick="treasure(7)"><img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/7820919/door-clipart-md.png" style="height: 150px; width: 150px;"></td>
      <td id="8" onclick="treasure(8)"><img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/7820919/door-clipart-md.png" style="height: 150px; width: 150px;"></td>
    </tr>
  </table>

  </main>
  <footer>
    &copy; Mike Chavez 
    <a href="#top"> Go to top</a>
  </footer>
  <script type="text/javascript" src="treasurehunt.js"></script>
</body>
</html>